.dm_layout {
  width: 1000px;
  margin: auto;
}

.dm_layout_top {
  background: #F4F4F4;
}

.dm_layout_top .navigation_menu li,
.dm_layout_bottom .navigation_menu li {
  display: inline;
  margin: 1em;
}

.dm_content {
  width: 750px;
  float: left;
}

.dm_layout_left {
  width: 150px;
  float: left;
}

.dm_layout_right {
  width: 250px;
  float: left;
  background: #F4F4F4;
}

.dm_layout_bottom {
  background: #F4F4F4;
}