[submodule "plugins/dmTagPlugin"]
	path = plugins/dmTagPlugin
	url = git://github.com/diem-project/dmTagPlugin.git
[submodule "plugins/dmFlowPlayerPlugin"]
	path = plugins/dmFlowPlayerPlugin
	url = git://github.com/ornicar/dmFlowPlayerPlugin.git
[submodule "plugins/dmContactPlugin"]
	path = plugins/dmContactPlugin
	url = git://github.com/ornicar/dmContactPlugin.git
[submodule "plugins/dmBitLyPlugin"]
	path = plugins/dmBitLyPlugin
	url = git://github.com/ornicar/dmBitLyPlugin.git
