config/databases.yml
config/require_diem.php
cache/*
log/*
data/dm/*
data/fixtures/00_admin_users.yml
public_html/cache/*
public_html/.htaccess
public_html/dm*Plugin
public_html/sf*
public_html/uploads/.thumbs
public_html/uploads/*/.thumbs
lib/*/doctrine/base
lib/*/doctrine/dm*

nbproject
